@{
    List<Entidades.Usuario> listaUsuarios = Servicios.Usuarios.Listar();

    listaUsuarios = listaUsuarios.Where(x => x.TipoUsuario == Entidades.Enumerables.TipoUsuario.Cliente).ToList();



}

@*<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
            <h2>Empresas con las que Trabajamos</h2>

        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @{ int i = 1;}
                @foreach (var item in listaUsuarios)
                {

                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="@i.ToString() / @listaUsuarios.Count.ToString()" style="width: 337px; margin-right: 20px;" data-swiper-slide-index="0">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Descripcion
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>

                            @{ string urlmodificada = item.UrlPerfil + "?random=" + i.ToString(); }
                            <img src=@urlmodificada class="testimonial-img" alt="">

                            @{
                                <h3>@item.Nombre</h3>
                                <h3>@item.Apellido</h3>
                            }
                            @{i = i + 1;
                            }
                        </div>
                    </div>
                </div>
                }

                </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>*@
@*<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span>*@
@*<span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span>*@
@*</div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>*@

@*</div>
    </section>*@

<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Testimonios</h2>
            <p>Empresas con las que Trabajamos</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @{ int i = 1;}
                @foreach (var item in listaUsuarios)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Descripcion
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>

                            @{ string urlmodificada = item.UrlPerfil + "?random=" + i.ToString(); }
                            <img src=@urlmodificada class="testimonial-img" alt="">

                            @{
                                <h3>@item.Nombre</h3>
                                <h3>@item.Apellido</h3>
                            }
                            @{i = i + 1;
                            }
                        </div>
                </div><!-- End testimonial item -->
            }



                <!--<div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>
                </div>--><!-- End testimonial item -->

                <!--<div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>
                </div>--><!-- End testimonial item -->

                <!--<div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>
                </div>--><!-- End testimonial item -->

                <!--<div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>--><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
