@model Entidades.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit | Daily.Web</title>
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="form_usuario">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="form_title">Edición de Usuario</h4>
                <hr class="form_line" />
                <div class="form_container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="form_fields">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control form_input", @PlaceHolder = "Nombre" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form_fields">
                            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control form_input", @PlaceHolder = "Apellido" } })
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form_fields">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form_input", @PlaceHolder = "Correo Electrónico" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="form_fields">
                            @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control form_input", @PlaceHolder = "Contraseña" } })
                            @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="form_fields">
                            @Html.EditorFor(model => model.TipoUsuario, new { htmlAttributes = new { @class = "form-control form_input", @Value = "", @PlaceHolder = "Tipo de Usuario (1 - 2 - 3 - 4)" } })
                            @Html.ValidationMessageFor(model => model.TipoUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="form_fields">
                            @Html.EditorFor(model => model.UrlPerfil, new { htmlAttributes = new { @class = "form-control form_input", @PlaceHolder = "Url Perfil" } })
                            @Html.ValidationMessageFor(model => model.UrlPerfil, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="form_fields">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control form_input", @PlaceHolder = "Descripción" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group form_checkbox">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form_fields ">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Estado)
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group btn_container">

                        <button type="submit" value="Guardar Cambios" class="form_btn"><span>Guardar Cambios</span></button>

                        <a href="/Usuarios/Index" class="form_back_link">
                            <div class="cta1">
                                <span class="hover-underline-animation">
                                    Back to user list
                                </span>
                                <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal" class="form_back_svg">
                                    <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>


