@model IEnumerable<Entidades.Usuario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestión de usuarios</title>
    <script src="~/assets/js/jquery-3.6.1.min.js"></script>
    <script src="~/assets/js/Usuarios/delete-conf.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="~/assets/css/DataTables/datatables.min.css" />
    <link href="~/assets/css/Usuarios/gestionUsuario.css" rel="stylesheet" />
    <link href="~/assets/img/icono_daily.web.svg" rel="icon">

</head>
<body>

    <div id="list">
        <div class="list_link_container">
            <div class="list_text_container">
                <a href="../Home/Index" style="text-decoration: none; color:black;">
                    <h2 class="gestionUsuario_logo">Daily.Web</h2>
                </a>
                    <h1 class="gestionUsuario_title">Gestión de Usuarios</h1>
                    <button type="submit" value="Crear nuevo" class="form_btn"><span><a href="/Usuarios/Create" style="text-decoration:none; color:black;">Crear Nuevo</a></span></button>
</div>
        </div>
        <br />
        <table id="datatable" class="table">
            <thead>
                <tr class="table_tr1">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clave)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UrlPerfil)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        Acciones
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UrlPerfil)

                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TipoUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>

                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "delete-conf" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="list_link_container list_link_container1">

   
            <a href="../Home/Index" style="text-decoration: none">
                <button class="btn_volver">
                    <span>Regresar</span>
                        <img src="~/assets/img/icono_volver.svg" class="icono_volver"/>
                </button>
            </a>
        </div>
    </div>


    <script src="~/assets/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="~/assets/css/DataTables/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>

</body>
</html>